body {
  font-family: Poppins, sans-serif;
  text-align: center;
  background-image: url(background.jpg);

}

h1 {
  color: rgb(192, 136, 62);
  padding-top: 30px;
  margin-left: 500px;
  /* justify-content: center; */
  font-family: 'Coiny', cursive;
  text-align: center;
  font-size: 50px;
  -webkit-animation: bounce .4s ease infinite alternate;
}

@-webkit-keyframes bounce {
  0% {
    text-shadow: 0 5px 0 #ccc,
      0 2px 3px rgba(0, 0, 0, 1);
  }

  100% {
    transform: translateY(-20px);
    text-shadow: 0 50px 0 rgb(5, 0, 0),
      /* 0 0px 20px rgba(0, 0, 0, .8); */
  }
}

.scored {

  font-size: 50px;
  margin-top: 50px;
  margin-left: 300px;
  font-style: italic bold;
  border: 10px solid green;
  font-family: 'Abril Fatface', serif;

}

.nav {
  display: flex;
}

.sign_in {
  margin-right: 500px;
}

label b {
  padding: 50px;
}

.name_holder {
  border-radius: 10px;
  padding: 20px;
}

.name_holder ::placeholder {
  text-align: center;
}

.enter_btn {
  padding: 20px;
}


.hidden {
  display: none;
}

.levels {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: #f5faf8;
  border-radius: 50px 50px;
  margin: 3% 5% 5% 10%;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}

.level {
  color: rgb(192, 136, 62);
  margin-right: 50px;
  padding-top: 40px;
  font-family: 'Coiny', cursive;
  font-size: 70px;
  -webkit-animation: bounce .4s ease infinite alternate;
}

.level_btn {
  padding: 20px;
}

.level_btn button {
  font-size: x-large;
}

.btn {
  margin: 20px;
  background-color: teal;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px;
  font-family: 'Abril Fatface', serif;
}

.btn1 {
  margin: 20px;
  background-color: rgb(24, 31, 31);
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding: 10px;
}

.btn2 {
  margin: 20px;
  background-color: teal;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px;
}

.btn2 a{
  color: black;
  text-decoration: none;
}

.btn1 a{
  color: black;
  text-decoration: none;
}

.btn a{
  color: black;
  text-decoration: none;
}

#press_play{
  font-size: large;
  font-family: 'Abril Fatface', serif;
}

.success1 {
  color: green;
  font-size: xx-large;
  font-family: 'Abril Fatface', serif;
}

.message {
  color: green;
  font-size: xx-large;
  font-family: 'Abril Fatface', serif;
}

/* .error1{
  color: red;
  font-size: xx-large;
  font-family: 'Abril Fatface', serif;
} */

.question{
  font-size: x-large;
  font-family: 'Abril Fatface', serif;
}

.questioned{
  font-size: x-large;
  font-family: 'Abril Fatface', serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f3dd17;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f3dd17;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.play_btn{
  margin: 20px;
  background-color: teal;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px;
  font-family: 'Abril Fatface', serif;
  font-size: large;
}

.next_btn{
  margin: 20px;
  background-color: teal;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px;
  font-family: 'Abril Fatface', serif;
  font-size: large;
}

.next_btn a{
  color: black;
  text-decoration: none;
}

.restart_btn{
  margin: 20px;
  background-color: teal;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px;
  font-family: 'Abril Fatface', serif;
  font-size: large;
}